<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户新增</title>

    <script src="/include.js"></script>

</head>
<body>



<div class="layui-fluid">

    <form class="layui-form" action="">

        <div class="layui-row">
            <div class="layui-col-md12">
                <label class="layui-form-label"></label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md2">
                <label class="layui-form-label" style="float: right">用户名称<span style="color: red"> *</span></label>
            </div>
            <div class="layui-col-md9">
                <input type="text" name="userName" autocomplete="off" placeholder="请输入用户名称" class="layui-input" lay-verify="required" lay-reqtext="用户名称不能为空">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md2">
                <label class="layui-form-label" style="float: right">用户类型<span style="color: red"> *</span></label>
            </div>
            <div class="layui-col-md9">
                <input type="text" name="userType" autocomplete="off" placeholder="请输入用户类型" class="layui-input" lay-verify="required" lay-reqtext="用户类型不能为空">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md2">
                <label class="layui-form-label" style="float: right">登陆账号<span style="color: red"> *</span></label>
            </div>
            <div class="layui-col-md9">
                <input type="text" name="account" autocomplete="off" placeholder="请输入登陆账号" class="layui-input" lay-verify="required" lay-reqtext="登陆账号不能为空">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md2">
                <label class="layui-form-label" style="float: right">登陆密码<span style="color: red"> *</span></label>
            </div>
            <div class="layui-col-md9">
                <input type="text" name="password" autocomplete="off" placeholder="请输入登陆密码" class="layui-input" lay-verify="required" lay-reqtext="登陆密码不能为空">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md2">
                <label class="layui-form-label" style="float: right">确认密码<span style="color: red"> *</span></label>
            </div>
            <div class="layui-col-md9">
                <input type="text" name="passwordAgain" autocomplete="off" placeholder="请确认密码" class="layui-input" lay-verify="required" lay-reqtext="请确认密码">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md2">
                <label class="layui-form-label" style="float: right">邮箱<span style="color: red"> *</span></label>
            </div>
            <div class="layui-col-md9">
                <input type="text" name="email" autocomplete="off" placeholder="请输入邮箱" class="layui-input" lay-verify="required|email" lay-reqtext="邮箱不能为空">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md2">
                <label class="layui-form-label" style="float: right">手机号码<span style="color: red"> *</span></label>
            </div>
            <div class="layui-col-md9">
                <input type="text" name="phone" autocomplete="off" placeholder="请输入手机号码" class="layui-input" lay-verify="required|phone" lay-reqtext="手机号码不能为空">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md2">
                <label class="layui-form-label" style="float: right">住址</label>
            </div>
            <div class="layui-col-md9">
                <input type="text" name="address" autocomplete="off" placeholder="请输入住址" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md2">
                <label class="layui-form-label" style="float: right">性别</label>
            </div>
            <div class="layui-col-md9">
                <input type="radio" name="sex" value="MALE" title="男">
                <input type="radio" name="sex" value="FEMALE" title="女">
                <input type="radio" name="sex" value="SECRECY" title="保密">
                <input type="radio" name="sex" value="UNKNOWN" title="未知" checked="">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md2">
                <label class="layui-form-label" style="float: right">管理员</label>
            </div>
            <div class="layui-col-md9">
                <input type="checkbox" name="admin" lay-skin="switch" lay-text="是|否">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md2">
                <label class="layui-form-label" style="float: right">用户描述</label>
            </div>
            <div class="layui-col-md9">
                <textarea placeholder="请输入用户描述" class="layui-textarea" name="description"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md4 layui-col-md-offset5">
                <button class="layui-btn" lay-submit lay-filter="formButton">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>

</div>


</body>

<script>

    layui.use('form', function(){
        var form = layui.form;

        form.on('submit(formButton)', function(data){

            if (data.field.password != data.field.passwordAgain){
                layer.msg("密码不一致，请确认后重新输入！",{icon: 5});
                return false;
            }

            $.ajax({
                type: "Post",
                url: "/userInfo/saveOrUpdate",
                data: data.field,
                dataType: "JSON",
                success: function (data) {
                    if (data.success) {
                        layer.msg(data.msg,{icon: 1});
                        parent.layer.closeAll();
                        parent.window.location.reload();
                    }else {
                        layer.msg(data.msg,{icon: 5});
                    }
                }, error: function (data) {

                }
            });

            return false;

        });
    });
</script>


</html>