<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户明细</title>

    <script src="/include.js"></script>

</head>
<body>

<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="layui-col-md1">用户名：</div>
                    <span th:text="${userInfo.userName}"></span>
                </div>
                <div class="layui-card-header">
                    <div class="layui-col-md1">用户类型：</div>
                    <span th:text="${userInfo.userType}"></span>
                </div>
                <div class="layui-card-header">
                    <div class="layui-col-md1">账号：</div>
                    <span th:text="${userInfo.account}"></span>
                </div>
                <div class="layui-card-header" th:if="${userInfo.createDate != null}">
                    <div class="layui-col-md1">注册时间：</div>
                    <span th:if="${userInfo.createDate != null}" th:text="${#dates.format(userInfo.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
                <div class="layui-card-header">
                    <div class="layui-col-md1">性别：</div>
                    <span th:text="${userInfo.sex}"></span>
                </div>
                <div class="layui-card-header">
                    <div class="layui-col-md1">邮箱：</div>
                    <span th:text="${userInfo.email}"></span>
                </div>
                <div class="layui-card-header">
                    <div class="layui-col-md1">手机号码：</div>
                    <span th:text="${userInfo.phone}"></span>
                </div>
                <div class="layui-card-header">
                    <div class="layui-col-md1">住址：</div>
                    <span th:text="${userInfo.address}"></span>
                </div>
                <div class="layui-card-header">
                    <div class="layui-col-md1">管理员：</div>
                    <span th:text="${userInfo.admin ? '是':'否' }"></span>
                </div>
                <div class="layui-card-header">
                    <div class="layui-col-md1">是否锁定：</div>
                    <span th:text="${userInfo.lock ? '是':'否' }"></span>
                </div>
                <div class="layui-card-header" th:if="${userInfo.lockTime != null}">
                    <div class="layui-col-md1">锁定时间：</div>
                    <span th:if="${userInfo.lockTime != null}" th:text="${#dates.format(userInfo.lockTime, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
                <div class="layui-card-header">
                    <div class="layui-col-md1">是否注销：</div>
                    <span th:text="${userInfo.logOut ? '是':'否' }"></span>
                </div>
                <div class="layui-card-header" th:if="${userInfo.logOutTime != null}">
                    <div class="layui-col-md1">锁定时间：</div>
                    <span th:if="${userInfo.logOutTime != null}" th:text="${#dates.format(userInfo.logOutTime, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-md1">描述：</div>
                        <div class="layui-col-md11"><span th:text="${userInfo.description}"></span></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>

</html>